.person__films
  +guttersDouble
  +guttersBottomDouble

  &--header
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  button
    margin-left: auto
    margin-top: 1em

  &--title
    +bigText
    margin-bottom: 1em

  &--single
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 0.75em

    > a
      align-items: center
      color: inherit
      display: flex
      flex-wrap: wrap
      text-decoration: none

      p
        +yellowHover
        display: flex
        flex-wrap: wrap
        span
          +smallText
          flex: 0 0 100%
          opacity: 0.5

    &-title
      flex: 0 0 calc(100% - 5em)

    &-star
      align-items: center
      display: flex
      flex: 0 0 4em
      justify-content: center
      margin-right: 1em

      svg
        margin-right: 0.5em
