.App
    background-color: $grey
    color: $white

.main
    display: flex
    flex-wrap: nowrap
    position: relative
    z-index: 1
    &__content
        flex: 0 0 100%
        max-width: 100%
        width: 100%
