=mainFont
    font-family: 'Montserrat', sans-serif

=secondaryFont
    font-family: 'Rubik', sans-serif
    font-weight: 500
    letter-spacing: 0.1em

html, body
    +mainFont

h1,
h2,
h3,
h4,
h5,
h6
    +secondaryFont

p
    line-height: 1.8em

.opaque
    opacity: 0.5

.no-image-title,
.center
    text-align: center
