
.movie-genres
  +guttersDouble
  +guttersTopBottomDouble

  &__list
    +guttersTop
    display: flex
    flex-wrap: wrap
    list-style-type: none
    margin: 0
    padding: 0

  &__genre
    flex: 0 0 calc((100% / 5) - 1em)
    margin: 0.5em

    a
      +noButton
      +yellowHover
      text-decoration: none
